body {
	background-color: lightgreen;
	background: url('../images/background.jpg');
	font-family: sans-serif;
}

#content_box {
	width: 75%;
	border: 2px solid black;
	background-color: white;
	margin: auto;
	min-width: 780px;
}

#content {
	padding: .5em;
	border: 0px solid;
}

.center {
	text-align: center;
}

#header {
	text-align: center;
	margin: 0;
	border-bottom: 1px solid;
	background-color: #FFFEE5;
}

#footer {
	border-top: 1px solid;
	clear: both;
	padding: 0 .5em 0 .5em;
	background-color: #FFFEE5;
	font-size: 0.6em;
}

#footer_left {
	float: left;
	width: 49%;
	text-align: left;
}

#footer_right {
	float: right;
	width: 49%;
	text-align: right;
}

.warning {
	background-color: #FFC0C1;
	margin-bottom: 1em;
}

.group {
	clear: both;
	border: 0px solid;
}

.group>div:first-child {
	font-weight: bold;
	width: 10em;
	float: left;
	border: 0px solid;
}

.group>div:first-child+div {
	float: left;
}

.clear {
	clear: both;
}

.door_open, .light_on { font-weight: bold; color: red; }
.temp_high { font-weight: bold; color: red; }
.temp_low { font-weight: bold; color: blue; }

.hidden { display: none; }

#graph {
	width: 400px;
	height: 200px;
	border: 0px solid;
}

